.rt-programme-partners {
  display: flex;
  flex-wrap: wrap;
}
.rt-programme-partners__partner {
  width: 45%;
  max-width: 200px;

  // @include hover;
  margin-right: 10px;
  @media (min-width: $break-desktop) {
    margin-right: 20px;
  }
}
