.rt-speakers-list-wrapper {
}

.rt-speakers-list {
  display: flex;
  flex-wrap: wrap;
}

.filters {
  margin-bottom: 10px;
}

// .filters-location {
//   display: none;
//   &--mobile-show {
//     display: block;
//   }

//   @media (min-width: $break-desktop) {
//     display: block;
//   }
// }

.filter-button {
  display: inline;
  margin: 0 8px 8px 0;
  padding: 10px;
  background-color: transparent;
  border: 3px solid $green;
  border-radius: 6px;
  color: $black;
  font-family: inherit;
  font-weight: 700;
  transition: 0.4s;
  cursor: pointer;
  word-break: break-word;
  @include font-size(14, 16);
  @media (min-width: $break-desktop) {
    padding: calc(0.667em + 2px) calc(1.333em + 2px);
    @include font-size(15, 17);
  }
  &:hover {
    @include background-color;
  }

  @include border-color;
}

.filter-button--active {
  &.day-filter {
    background-color: $green;
    color: $white !important;
  }
  &.filter-button {
    @include background-color;
    @include colour-pick-text;
  }
}

.rt-mobile-button {
  display: inline;
  margin: 0 8px 8px 0;
  padding: 10px;
  background-color: transparent;
  border: 3px solid $green;
  border-radius: 6px;
  color: $black;
  font-family: inherit;
  font-weight: 700;
  transition: 0.4s;
  cursor: pointer;
  word-break: break-word;
  @include font-size(14, 16);
  @media (min-width: $break-desktop) {
    display: none;
  }
}

// add/remove style for mobile
.location-filter {
  display: none;

  &--mobile-show {
    display: inline;
  }

  &.filter-button--active {
    display: inline;
  }

  @media (min-width: $break-desktop) {
    display: inline;
  }
}
