.rt-theatre-button {
  display: inline;
  margin: 0 8px 8px 0;

  padding: 10px;
  background-color: transparent;
  border: 3px solid $green;
  border-radius: 6px;
  color: $black;
  font-family: inherit;
  font-weight: 700;

  text-decoration: none;
  transition: 0.4s;
  cursor: pointer;
  word-break: break-word;
  @include font-size(14, 16);
  @media (min-width: $break-desktop) {
    padding: calc(0.667em + 2px) calc(1.333em + 2px);
    @include font-size(15, 17);
  }
  &:hover {
    background-color: $grey;
    color: $black;
  }

  @include border-color;
}
